body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 115%;
background-color:#FFFFFF;
}
header {
  background-color:#bbc3c4 ;
}
nav {background-color:#afd1d7;
}
main{
background-color:yellow;
  font-size:20px;
}
footer {
  background-color:#bababa;
}
li{
  display:inline-block;

min-width:200px;
  


  
}
h1{
text-align:center;
  font-family:Cursive , Times, serif;

color:blue;


}
p{
  line-height:20px;
}
